/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #2b2b2b;
  background: #fffcf5;
}

a {
  text-decoration: none;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: rgba(45, 43, 48, 0.9);
  min-height: 30px;
  padding: 10px;
  position: fixed;
  z-index: 1000;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  display: block;
  margin-right: auto;
  color: white;
  letter-spacing: 2px;
}

.nav li {
  padding: 5px 10px 10px 10px;
}

.nav a {
  color: #bdc3c7;
  transition: color .5s;
}

.nav a:hover {
  color: white
}

header {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  overflow: hidden;
  height: 350px;
  box-shadow: 0 0 10px 0 rgba(45, 43, 48, 0.9);
}

header #photo {
  position: absolute;
  max-height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

header #text {
  position: absolute;
  width: 100%;
  top: 35%;
}

header #name {
  color: #2b2b2b;
  font-size: 5.25vmax;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

header #motto {
  color: #800;
  font-size: 2.85vmax;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.tag {
  color: black;
  padding: 10px;
  letter-spacing: 5px;
}

.name{
  font-weight: 300;
}

header .name{
  font-size: 3em;
}

.tagline {
  font-weight: 600;
  padding: 20px;
  text-transform: uppercase;
  color: #781125
}

.card {
  margin: 30px;
  padding: 40px 20px;
  text-align: left;
  border-top: 4px solid #800;
  clear: both;
  transition: box-shadow .4s ease-out;
}

.card:hover {
  box-shadow: 0 0 75px 0 rgba(45, 43, 48, 0.25);
}

.button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding: 10px 20px;
  color: #bdc3c7;
  background-color: rgba(45, 43, 48, 0.9);
  border: none;
  transition: color .5s;
}

.button:hover {
  color: white
}

.photo{
  display: block;
  width: 200px;
  height: 0%;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(45, 43, 48, 0.9);
}

.information{
  width: 100%;
  text-align: center;
  /*display: inline-block;
  position: absolute;*/
}

.heading{
  font-size: 2em;
  text-transform: uppercase;
  color: #800;
  margin-top: 10px;
  margin-bottom: 35px;
}

/* Footer styles */

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  margin: 0 15px;
  width: 32px;
  height: auto;
  opacity: 0.6;
  transition: transform .4s, opacity .5s;
}

a.social:hover {
  transform: scale(1.15);
  opacity: 0.9;
}

.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 420px) {
  .nav .name {
    letter-spacing: 5px;
  }
  
  header #name,
  header #motto {
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 840px) {

  .flex {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: flex;
    max-width: 1200px;
    -ms-flex-pack: distribute;
  }

  header {
    min-height: 470px;
  }
  
  

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  .card{
    margin: 40px auto;
    padding: 20px 40px 40px;
    width: 80%;
    max-width: 1000px;
  }

  .photo{
    width: 30%;
    margin: 20px 30px;
  }

  .information{
    text-align: left;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
}

@media screen and (min-width: 1100px) {
  
  header #text {
    top: 30%;
  }
  
  header #name {
    font-size: 58px;
  }
  
  header #motto {
    font-size: 32px;
  }
}

@media screen and (min-width: 1300px) {
  
  header #photo {
    width: 100%;
    max-height: none;
    bottom: 0%
  }
}
